/**
 * 파일명: style.css

**/
@charset "utf-8";

/* layout */
#wrap{display:block;min-width:1600px;height:100%;}
#header{display:block;height:95px;background-color:#fff;letter-spacing:-1px;}
#snb{position:absolute;left:0;top:0;bottom:0;width:224px;
	background-color:#d3d9df;border-right:4px solid #e4e7eb;}
#cont{display:block;display:inline-block\0;position:relative;min-height:calc(100% - 90px);background-color:#f2f3f6;overflow:hidden;}
.content{float:right;width:calc(100% - 224px);min-height:100%;text-align:left;}

/* header */
#header h1{position:relative;text-align:left;padding-top:9px;margin-bottom:10px;}
#header h1 a{position:relative;color:#999;font-size:20px;letter-spacing:-1.6px;font-weight:600;padding-left:78px;}
#header h1 span{font-size:11px;display:block;letter-spacing:-.8px;line-height:10px;}
#header h1 a::before{position:absolute;left:30px;top:3px;display:inline-block;content:"";width:40px;height:40px;background:url(../img/logo_gov.svg) 0 0 no-repeat;background-size:cover;}
#header h1 strong{display:block;color:#fefac1;font-size:15px;}
.nav_wrap{background-color:#d3d9df;}
.lnb{display:block;padding:0 36px;}

.btn_userinfo,
.btn_logout{background-color:#33568f;color:#fff;border-radius:5px;line-height:20px;padding:0 9px;font-weight:normal;}
.btn_userinfo::before,
.btn_logout::before{font-family:"axicon";margin-right:3px;}
.btn_userinfo::before{content:"\f1ca";}
.btn_logout::before{content:"\e086";}

.lnb{height:37px;background-color:#4086c3;}
.nav li{position:relative;float:left;width:14.28%;}
.nav li:first-child{width:14.32%;}
.nav a{width:100%;line-height:37px;color:#fff;font-size:14px;}
.nav li:hover > a{background-color:#2c6495;}
.nav li.on > a{background-color:#33568f;}
.nav .sub1{display:none;width:100%;position:relative;left:0;top:0;background-color:#fff;min-height:224px;z-index:1000;box-sizing:border-box;border:1px solid #d3d9df;border-width:0 0 1px 1px;min-height:569px;}
.nav .sub1 li{display:inline-block;width:100%;}
.nav li:first-child .sub1{border-left:0;}
.sub1 a{color:#333;line-height:34px;text-align:left;padding:0 10px;}
.sub1 > li:hover > a{color:#33568f;background-color:#cee2f4;}
.sub1 > li:hover > a::after{content:"\f105";float:right;font-family:'axicon';}
.sub1 > li.on > a{background-color:#fefac1;color:#694312;}
.nav:hover .sub1{display:inline-block;}
.lnb .lnb_overlay{display: none;content:"";position:fixed;left:0;top:95px;height:100%;z-index:950;}
.lnb_list:hover + .lnb_overlay{display:block;background-color:rgba(0,0,0,.4);}
.lnb .sub2{display:block;width:100%;background-color:#f5f5f5;padding:8px 0;overflow:hidden;}
.lnb .sub2 li{display:inline-block;}
.lnb .sub2 li a{font-size:12px;padding-left:15px;line-height:18px;color:#999;}
.lnb .sub2 a::before{content:"·";margin-right:3px;}
.lnb .sub2 li:hover > a,
.lnb .sub2 li.on > a{background-color:transparent;font-weight:600;color:#000;}

/* snb */
.snb{text-align:left;}
.snb_tit{position:relative;width:100%;height:74px;background-color:#4086c3;padding-left:33px;}
.snb_tit::before{position:absolute;font-family:"axicon";color:#5d95ca;}
.snb_tit.bass::before{content:"\e021";font-size:68px;left:6px;top:0;}
.snb h1{position:relative;font-size:15px;line-height:74px;color:#fff;text-align:left;}
.snb_list li{}
.snb_list li a{width:100%;padding:0 13px 0 33px;line-height:31px;}
.snb_list > li > a:hover,
.snb_list > li.on > a{background-color:#4086c3;color:#fff;}
.snb_list > li > a:hover::after,
.snb_list > li.on > a::after{float:right;content:"\f1b1";font-family:"axicon";}
.snb_list .snb1 a{font-size:12px;line-height:16px;padding:0 0 0 43px;}

.user_info ul .axi::before,
.nav .axi::before{margin-right:7px;}
.copyright{padding:20px;color:#67717a;text-align:left;border-top:1px solid #9fa9b3;}

/* .main */
.content.main{width:100%;}
.main .cont_body>.section{background:#fff;margin-top:1%;border-radius:3px;}
.main .cont_body>.section .section{margin-top:20px;}

/* content */
.content > .cont_tit{background:#fff;margin-bottom:23px;padding:12px 24px;border-bottom:1px solid #999;}
.content > .cont_body{padding:0 24px 24px;}
.content .cont_tit h1{display:inline-block;width:auto;font-size:20px;color:#f35857;letter-spacing:-1.5px;font-weight:600;line-height:1.3;}
.content .cont_tit h1 span{font-size:16px;color:#999;border-left:1px solid #999;font-weight:normal;margin-left:15px;padding-left:15px;line-height:1;margin-top:6px;}

.locate{float:right;width:auto;padding:5px 0;}
.locate li{float:left;display:inline-block;color:#666;}
.locate li::after{content:"";position:relative;top:-2px;left:0;display:inline-block;width:4px;height:4px;margin:0 8px;border:solid #666;border-width:1px 1px 0 0;transform:rotate(45deg);}
.locate li:last-child::after{margin-right:0;width:0;height:0;border:0;}

/* section */
.section_linked,
.section_linked_s{position:relative;}
.section_linked::after,
.section_linked_s::after{position:absolute;top:40%;right:-3.5%;display:inline-block;content:"";width:20px;height:20px;margin:-10px 0 0 -10px;transform:rotate(45deg);border:1px solid #a4a3a3;border-width:3px 3px 0 0;}
.section_linked_s::after{right:-7.5%;}

/* article */
.cont_body > .article,
.cont_body > .section > .article{background-color:#fff;padding:20px;}
.section > .article{margin-top: 20px;}
.section > .article:first-of-type{margin-top:0;}
.article_tit{min-height:23px;min-height:24px\0;margin-bottom:5px;}
.article_tit.margin_more{margin-bottom:15px;}
.article_tit h2{font-size:15px;font-weight:600;}
.article_tit h2::before{content:"\f0c9";color:#4086c3;margin-right:8px;font-family:"axicon";}
.linked_bot{position:relative;margin-bottom:25px;padding-bottom:25px;border-bottom:1px dashed #dedede;}
.linked_bot::after{content:"\f1af";font-size:30px;color:#a4a3a3;background:#fff;position:absolute;bottom:-15px;left:50%;margin-left:-33px;display:inline-block;padding:0 20px;font-family:'axicon';}

.arti_section .arti_tit{margin-bottom:7px;}
.arti_section h3{font-weight:600;font-size:14px;line-height:22px;color:#4086c3;}
.box_arti_section{margin-bottom:9px;}
.box_arti_section .arti_tit{margin-bottom:0px;}
.box_arti_section .arti_body{padding:10px 10px 0 5px;overflow:hidden;background-color:#f2f3f6;}

.arti_tit{padding:2px 0;}
.arti_tit .btn_toggle{margin-top:1px;}
.arti_tit select{height:23px;}

.article_tit .btn_ico{padding:0 9px 0 23px;background-size:15%;}
.article_tit .btn_axi{padding:0 9px;line-height:17px\0;}
.arti_tit .btn_ico{padding:0 9px 0 23px;background-size:15%;}


.article_bot.btn_area{text-align:right;margin-top:15px;}
.article_bot.btn_area .btn{padding:5px 80px;}

/* search */
.search{background-color:#fff;padding:10px 10px 0;margin-bottom:20px;border:1px solid #adadad;}
.search label,
.search input[type="text"],
.search select,
.search .btn{padding:3px 8px 2px;padding:2px 8px 3px\0;margin-bottom:10px;}
.search .ui-datepicker-trigger{bottom:5px;}
.search label,
.search  .label{display:inline-block;margin-left:10px;font-weight:600;color:#666;}
.search label::before,
.search .label::before{content:"·";color:#d84a38;margin-right:5px;}
.search input[type="text"],
.search select{min-width:80px;}
.search .input_name{width:80px;}
.search_keyword,
.search_period{display:inline-block;}
.search_period span{vertical-align:middle;}
.search_period select{min-width:136px;}
.search_period #p_year{min-width:137px;}
.scail{width:30px;min-width:auto;}
.search .btn_wrap{float:right;margin-top:0!important;}
.search .btn_wrap .btn{font-size:12px!important;}
.li_radio_wrap{display:inline-block;overflow:hidden;vertical-align:middle;}
.li_radio_wrap li{float:left;}
.li_radio_wrap label{margin-left:0;padding-left:0;}
.li_radio_wrap label::before{content:"";margin:0;}
.li_radio_wrap input{margin:0 0 7px 10px;}

/* table */
.ui-jqgrid .tbl_sub{border-color:#d7dfe3;background-color:#98a1bd;}
.ui-jqgrid .tbl_sub th{background-color:#98a1bd;}
.ui-jqgrid .tbl_sub .ui-state-default,
.ui-jqgrid .tbl_sub .ui-widget-content .ui-state-default,
.ui-jqgrid .tbl_sub .ui-widget-header .ui-state-default{border-color:#d7dfe3;}

/* box */
.box_gray{background-color:#dfe2e7;padding:10px;}

/* btn */
.btn_wrap{text-align:right;margin-top:20px;}
.divide{position:relative;margin-left:30px;}
.divide_r::before,
.divide::before{content:"";width:1px;height:90%;border-left:1px solid #ccc;position:absolute;left:-18px;top:6%;}
.divide_r{position:relative;margin-right:10px;}
.divide_r::before{left:auto;right:-9px;}
.with_btn input{width:80%!important;}

.ui-widget-content .btn,
.btn,
.btn_axi,
.btn_ico{border-radius:3px;color:#fff;line-height:21px;padding:0 9px;border:1px solid #aeb3b9;font-size:12px;letter-spacing:-.5px;vertical-align:middle;cursor:pointer;}
.btn_gray{border-color:#545454;background-color:#545454;}
.btn_close2{border-color:#545454;background-color:#545454;}
.btn_gray:hover{background-color:#373737;}
.btn_lightgray{border-color:#838383;background-color:#838383;}
.btn_lightgray:hover{background-color:#6a6a6a;}
.btn_axi,
.btn_white{background-color:#fff;color:#666!important;}
.btn_blue_line{background-color:#fff;color:#4086c3;border-color:#4086c3;}
.btn_red_line{background-color:#fff;color:#f35857;border-color:#f35857;}
.btn_red_line:hover,
.btn_blue_line:hover{text-shadow:0 0 1px rgba(0,0,0,.3);}
.btn_axi:hover,
.btn_ico:hover,
.btn_white:hover{border-color:#989ca2;}
.btn_blue{border-color:#33568f;background-color:#33568f;}
.btn_blue:hover{background-color:#294674;}
.btn_red{border-color:#f35857;background-color:#f35857;}
.btn_red:hover{background-color:#dc4f4f;}
.btn_skyblue{border-color:#4086c3;background-color:#4086c3;}
.btn_skyblue:hover{background-color:#3978b0;}
.btn_black{background-color:#414142;border-color:#414142;}
.btn_black:hover{background-color:#333;}
.btn_large{height:28px;line-height: 26px;padding:0 32px 0 32px;font-size:15px;}

.btn_ico{background:url(../img/btn_ico.png) 0 0 no-repeat, #fff;color:#666;border-color:#aeb3b9;padding:3px 13px 3px 30px;}
.btn_excel{background-position:8px 4px;}

.btn_axi{padding:0 9px;padding:0 9px 1px\0;}
.btn_axi::before{margin-right:3px;line-height:21px\0;font-family:"axicon";}
.axi_mint::before{color:#4086c3;}
.axi_red::before{color:#f35857;}
.axi_gray::before{color:#716f6f!important;}

.btn_print::before{content:"\e034";color:#f35857;}
.btn_info::before{content:"\f1d3";}
.btn_save::before{content:"\e122";font-weight:bold;font-size:11px;}
.btn_cancel::before{content:"\f057";}
.btn_clear::before{content:"\e791";}
.btn_add::before{content:"\f055";}
.btn_reject::before{content:"\f10f";}
.btn_edit::before{content:"\f058";}
.btn_help::before{content:"\f1ce";}
.btn_all::before{content:"\f046";position:relative;top:1px;}
.btn_arr_up::before{content:"\e096";}
.btn_arr_down::before{content:"\e097";}

.axi{margin:3px 10px 0 0;font-size:0;}
.axi::before{font-size:12px;}
.axi.btn_dtl::before{content:"\f00e";color:#717e89;}
.axi.btn_edit::before{content:"\e896";}
td .axi{margin-right:0;}

/* tab */
.tab_contents{border-top:2px solid #f35857;background:#fff;padding:23px 27px;overflow:hidden;}
.tab_sub .tab_contents{padding:5px 0 0 0;}
.tab li{float:left;display:inline-block;min-width:99px;margin-left:2px;}
.tab li:first-child{margin-left:0;}

.tab li a{width:100%;height:28px;line-height:28px;background:#fff;text-align:center;border:1px solid #adadad;border-bottom-width:0;margin-top:2px;}
.tab .on a,
.tab a:hover{height:30px;line-height:30px;font-weight:600;background-color:#f35857;color:#fff;border:none;margin-top:0;}

.tab_v{float:left;width:15%;}
.tab_v li{position:relative;padding-left:3px;margin-top:2px;}
.tab_v li:first-child{margin-top:0;}
.tab_v li a{width:100%;height:28px;line-height:28px;line-height:25px\0;background-color:#d9dbe0;color:#80838b;text-align:center;border:1px solid #adadad;border-width:1px 0 1px 1px;}
.tab_v .on{padding-left:0;border-left:3px solid #f35857;}
.tab_v .on a{font-weight:600;border-left:0;color:#f35857;background-color:#fff;}
.tab_contents_v{display:none;float:right;width:85%;}

.num{float:right;}
.tab_contents .btn_wrap .btn{padding:6px 18px 7px;}

/* paginate */
.paginate{padding:15px 0;text-align:center}
.paginate a,.paginate strong{display:inline-block;position:relative;_width /**/:14px;min-width:23px;padding:1px 5px 2px 4px;color:#333;font-size:15px;line-height:normal;box-sizing:border-box;font-weight:normal;margin:0 3px;}
.paginate strong{color:#fff;background-color:#367fa9;}
.paginate .pre,
.paginate .next,
.paginate .first,
.paginate .last{_width /**/:47px;width:23px;height:23px;color:#777;background-color:#fff;border:1px solid #d7d7d7;margin:0 1px;font-size:10px;line-height:19px;font-weight:bold;}
.paginate a:hover{text-decoration:underline}

.ajax_load{display:none;position:absolute;left:50%;top:50%;width:100px;height:100px;margin:-50px 0 0 -50px;background:rgba(255,255,255,.9);z-index:1000;border:1px solid #c9d2dd;box-shadow:0 0 10px rgba(0,0,0,.2);text-align:center;}
.ajax_load img{margin-top:32px;}

/* error */
.error{height:100%;background-color:#f2f3f6;text-align:center;}
.error_wrap{width:944px;background-color:#fff;border:2px solid #414142;border-width:2px 0;margin-top:15%;padding:84px 100px 91px 114px;}
.error_cont{text-align:left;background:url(../img/bg_error.png) 0 10px no-repeat;padding-left:254px;color:#4c4b4b;}
.error_cont h1{font-family:'notokr';font-weight:bold;font-size:30px;margin-bottom:23px;}
.error_cont b{color:#dd374a;}
.error_cont p{font-size:13px;line-height:20px;margin-bottom:21px;}
.error_cont .btn{padding:4px 27px 5px;}

/*login_style*/
.login_wrap{height:100%;background-color:#eef5f9;}
.login{position:relative;display:block;width:687px;height:522px;margin:200px auto;text-align:left;border-radius:20px;background:url(../img/bg_login.gif) 50% 100% no-repeat;}
.login_tit{height:176px;background-color:#003964;text-align:center;border-radius:20px 20px 0 0;}
.login h1{font-size:32px;letter-spacing:-3px;line-height:1.2;font-weight:600;color:#fff;margin-top:101px;}
.login h1 .logo{position:absolute;left:27px;top:33px;display:inline-block;width:203px;height:33px;background:url(../img/logo_msit_white_circle.svg) 0 0 no-repeat;background-size:contain;font-size:0;}
.login h1 span{font-weight:normal;color:#d3d2d2;}

.login_body{position:relative;height:258px;overflow:hidden;border:solid #aaa;border-width:0 1px 1px;padding-top:66px;border-radius:0 0 20px 20px;background-color:#fff;}
.login_body span,
.login_body .btn_login{display:inline-block;height:44px;line-height:44px;}
.login_body span{float:left;width:367px;position:relative;border:1px solid #d1d1d1;margin-bottom:10px;margin-left:90px;}
.login_body input{width:inherit;height:inherit;border:none;background-color:#f3f3f3;vertical-align:top;padding-left:58px;color:#a0a1a5;}
.login_body .axi::before{position:absolute;left:0;top:0;display:inline-block;width:45px;font-size:24px;color:#a0a1a5;background-color:#fff;border-right:1px solid #d1d1d1;text-align:center;}
.login_body .axi-lock3::before{font-size:28px;right:11px;}
.login_body .btn_login{position:absolute;right:70px;top:66px;width:151px;height:102px;color:#fff;background-color:#e6002d;text-align:center;cursor:pointer;border:1px solid #a60525;font-size:16px;}
.login_body .btn_login:hover{background-color:#af0c2c;}
.login_body .copyright{clear:both;margin-top:15px;text-align:center;color:#999;}

/* main */
.send_yn{display:inline-block;width:14px;height:14px;overflow:hidden;font-size:0;background-color:#e34d45;border-radius:50%;margin-top:4px;}
.send_yn.ok{background-color:#9fde7d;}
.send_yn.no::before{content:"\f12a";font-family:"axicon";color:#fff;font-size:11px;text-align:center;line-height:16px;}

/* report */
.report{border:2px solid #666;font-size:11px;background-color:#fff;}
.report .tit{display:block;text-align:center;border-bottom:1px solid #666;padding:10px 0;background:url(../img/logo_gov.svg) 10px 50% no-repeat;background-size:10%;margin-bottom:0;}
.report .tit h1{font-size:15px;font-weight:600;margin-left:15px;}
.report .tit h1 span{display:block;width:100%;font-size:12px;}
.report .scroll{display:block;border-bottom:0;padding:10px 15px;}
.report h2{color:#333;font-weight:600;font-size:13px;margin-bottom:7px;}
.report dt,
.report dd{padding-bottom:10px;word-break:keep-all;font-size:11px;}
.report dt{float:left;width:32%;}
.report .dt_long{width:39%;}
.report .li_circle li::before,
.report dt::before{content:"○";margin-right:3px;}
.report dt::after{content:":";margin-left:5px;}
.report .dt_none_dot{padding-bottom:5px;width:100%;}
.report .dt_none_dot::after{content:"";}
.report li{font-size:11px;}
.report ol li{list-style:decimal;margin-left:15px;word-break:break-all;text-align:justify;}
.report .foot{padding:5px 15px 5px 25px;text-indent:-10px;}
.report h3{margin-bottom:5px;font-size:12px;}
.report h3::before{content:"-";margin-right:3px;}
.report h3::after{content:"-";margin-left:3px;}
.report .li_circle{margin-left:5px;padding-left:10px;text-indent:-13px;}

/* graph */
.legend{float:right;}
.legend em{font-style:normal;font-size:11px;}
.legend em::before{display:inline-block;content:"";width:9px;height:9px;border:1px solid #cdcdcd;margin:-3px 3px 0 0;vertical-align:middle;border-radius:2px;}
.legend .desend::before{margin-left:10px;}
.bar_graph{display:inline-block;width:100%;overflow:hidden;margin-top:10px;}
.bar_graph dt,
.bar_graph dd{color:#666;}
.bar_graph dt{clear:both;width:100%;margin-bottom:12px;font-size:11px;}
.bar_graph dt::before{content:"■";margin-right:5px;font-weight:600;color:#666;font-size:3px;}
.bar_graph dd{height:23px;border-bottom:1px dashed #dcdcdc;margin-bottom:15px;padding-bottom:15px;}
.bar_graph dd:last-child{margin-bottom:0;}
.bar_graph .graph{float:left;position:relative;width:82%;height:inherit;background-color:#e6ecee;border-radius:20px;overflow:hidden;}
.bar_graph .total{float:right;width:18%;text-align:right;font-size:11px;line-height:23px;}
.bar_graph .send,
.bar_graph .desend{position:relative;float:left;display:inline-block;height:100%;text-align:center;box-sizing:border-box;}
.legend .send::before,
.bar_graph .send{background-color:#b9cee0;}
.legend .desend::before{background-color:#e6ecee;}
.bar_graph .graph em{position:relative;left:0;top:9%;font-size:11px;}

.connect_legend{float:right;overflow:hidden;}
.connect_legend li{float:left;margin-left:30px;color:#e34d45;}
.connect_legend li::before{content:"·";margin-right:5px;color:#333;font-weight:600;}
.connect_legend li:first-child{color:#4bbf1e;}

.sys_status{display:inline-block;width:100%;overflow:hidden;border:1px solid #aeb3b9;border-radius:3px;}
.sys_status li{position:relative;float:left;display:inline-block;width:50%;height:39px;background-color:#fff;box-sizing:border-box;border-width:1px 0 0 1px;border-style:solid;border-color:#aeb3b9;padding:8px 42px 0 10px;line-height:22px;color:#666;}
.sys_status li::after{position:absolute;top:0;right:0;display:inline-block;content:"";width:35px;height:100%;background:#fbfbfb;}
.sys_status li:nth-child(odd){border-left:0;}
.sys_status li:first-child,
.sys_status li:nth-child(2){border-top:0;}
.sys_status .btn{float:right;color:#333!important;background-color:#fff;}
.sys_status .btn::before{content:"\e746";font-family:"axicon";margin-right:3px;color:#666;}
.sys_status .error{color:#db4444;text-align:left;}
.sys_status .error::after{background-color:#fce2e2;content:"\f1d3";font-family:"axicon";text-align:center;line-height:38px;font-size:16px;color:#ff0000;}
.sys_status .error .btn{background-color:#e34d45;border-color:#c72921;color:#fff!important;}
.sys_status .error .btn::before{content:"\f110";color:#fff;}
.sys_status .error.alert .btn::before{content:"\e96a";}

/* sub */
.report_preview .send_group{margin-top:0;padding-top:0!important;}
.report_preview textarea{display:inline-block;width:100%;height:90%;}
.send_group .dl_form_use_grid dt,
.send_group .dl_form_use_grid dd{margin-bottom:0;}
.subtitles dt{margin:10px 0 5px;}
.subtitles dt:first-child{margin-top:0;}
.etc_contents textarea{display:inline-block;width:100%;height:100%;}
.etc_contents .box_arti_section .arti_body{padding:10px;}
.tmpl_send dd .btn{padding:2px 9px 3px;}
.tmpl_wrap > .tmpl{position:relative;width:calc(100% - 370px);}
.tmpl_wrap .no_data{position:relative;height:263px;padding-top:140px;font-size:18px;text-align:center;color:#8e8e8e;background:url('../img/bg_move.png'), #e6e6e6;font-weight:600;}
.tmpl_wrap .no_data::before{padding-top:5%;background-color:transparent;}
.tmpl_wrap .no_data::before{color:#8e8e8e;font-weight:normal;}
.tmpl_wrap .no_data::after{content:"";}
.tmpl_wrap > .protocol{width:370px;overflow:hidden;}
.tmpl > .article{padding-bottom:19px\0!important;}
.tmpl::after{position:absolute;right:-10px;top:30%;}
.dtl_tmpl{display:none;}
.dtl_tmpl .article_body{margin-top:-5px\0;}
.dtl_tmpl .article_body,
.dtl_tmpl .arti_section{display:block;margin-bottom:0;}
.protocol_off > .fl{width:100%;}
.protocol_off > .protocol{width:0;display:none;}
.btn_protocol_toggle{position:absolute;right:0;top:5px;width:0;height:calc(100% - 10px);border-left:1px solid #adadad;}
.btn_protocol_toggle a{position:absolute;left:-1px;top:30%;font-size:0;}
.btn_protocol_toggle a::before{content:"\f18f";border:1px solid #adadad;border-left-color:#fff;background-color:#f2f3f6;color:#a4a4a4;font-family:'axicon';padding:8px 3px;border-radius:0 3px 3px 0;font-size:11px;cursor:pointer;}
.protocol_off .btn_protocol_toggle a{left:-12px;}
.protocol_off .btn_protocol_toggle a::before{content:"\f15f";border-right-color:#f2f3f6;border-left-color:#adadad;border-radius:3px 0 0 3px;}
.act .bar_graph{margin-bottom:10px;}
.act .bar_graph dt,
.act .bar_graph dd{padding-bottom:10px;margin-bottom:0}
.act .bar_graph dt{float:left;width:7%;clear:none;margin-left:3%;padding-top:3px;}
.act .bar_graph dt:nth-child(3n+1){margin-left:0;}
.act .bar_graph dd{float:left;width:24%;border-bottom:none;}
.act .bar_graph .graph{width:87%;}
.act .bar_graph .total{width:13%;}

/* client */
.client_info_change{height:420px;padding:0 10px;background-color:#eff2f7;}
.client_info_change .dl_form dt,
.client_info_change .dl_form dd{color:#999;}
.client_info_change > dl > dd{text-indent:12px;}
.client_info_change dd .btn,
.client_info_change dd .btn_toggle{text-indent:0;}
.client_info_change dd .btn{padding:0 5px;padding:0 5px 1px\0;line-height:15px;vertical-align:top;font-size:11px;}
.client_info_change .dl_form .btn_toggle{width:40px;height:16px;padding:0 4px;margin-top:-2px;}
.client_info_change .dl_form .btn_toggle::before{width:12px;height:12px;}
.client_info_change .dl_form .btn_toggle::after{line-height:13px;line-height:12px\0;}
.client_info_change .dl_form_sub{margin-left:-12px;}
.client_info_change .dl_form > .change_apply{color:#345e91;font-weight:600;margin:0 6px 10px -6px;}
.client_info_change .dl_form > .change_apply::before{position:relative;top:3px;left:0;content:"\f1ae";font-family:'axicon';color:#f35857;vertical-align:top;font-weight:normal\0;}
.client_info_change .change_apply + dd,
.client_info_change .change_apply + dd .change_apply{color:#345e91;font-weight:600;}
.dl_form .dl_form_sub{background-color:transparent;padding:0;}

.client_group_wrap{overflow-y:auto;;height:700px;background:#f2f3f6;}
.client_group{display:inline-block;width:100%;}
.client_group > li{position:relative;font-size:14px;font-weight:600;background-color:#fff;color:#666;padding:10px;border:1px solid #d7dfe3;border-left:3px solid #7aabd5;border-top-width:0;cursor:pointer;}
.client_group > li:first-child{border-top-width:1px;}
.client_group > li:hover{border-left-color:#33568f;color:#345e91;}
.client_group > li.on{background-color:#fefac1;border-left-color:#78542a;color:#462818;}
.client_group > li > span{display:block;width:100%;font-size:12px;color:#999;margin-top:5px;}
.client_group .control{position:absolute;top:10px;right:10px;width:auto;}
.client_group > li:hover .control{display:inline-block;}
.client_group .use_yn{font-size:11px;font-weight:normal;}
.client_group .ui-sel-btn{background-color:#91a6b8;border:none;}
.client_group .ui-sel-btn:hover{background-color:#6b7d8c;}
.ui-selectmenu-menu li:first-of-type{display:none;}

.add_member{display:none;}
.add_member .btn_wrap{text-align:center;}

/* no_data */
.no_data{position:relative;}
.no_data::before{position:absolute;left:0;top:0;display:inline-block;width:100%;height:100%;background-color:rgba(0,0,0,.5);content:"\e625";font-family:'axicon';font-size: 60px;color:#fff;text-align:center;padding-top:15%;box-sizing:border-box;z-index:5;}
.no_data::after{content:"선택된 데이터가 없습니다.";position:absolute;top:50%;left:0;width:100%;color:#fff;text-align: center;font-size:16px;z-index:6;}

/* menu_admin */
.accordion_wrap{border:1px solid #d7dfe3;}
.menu_accordion{display:inline-block;overflow:hidden;width:100%;padding:15px 15px 5px 15px;box-sizing:border-box;}
.menu_accordion dt,
.menu_accordion dd{margin-bottom:15px;font-size:14px;overflow:hidden;line-height:21px;}
.menu_accordion dd{min-height: 48px;}
.menu_accordion dt{float:left;width:30%;word-break:keep-all;padding-left:36px;text-indent:-36px;}
.menu_accordion dt a{position:relative;top:2px;width:25px;height:23px;vertical-align:top;cursor:pointer;text-indent:0;padding:0 0 0 2px;font-size:0;}
.menu_accordion .open a{padding:0;}
.menu_accordion dt a::before{content:"\f054";font-family:"axicon";font-size:12px;color:#d3d9df;}
.menu_accordion .open a:before{content:"\f078";margin:0 10px 0 0;}
.menu_accordion dt a:hover::before{color:#7aabd5;}
.menu_accordion li{position:relative;width:100%;height:23px;display:none;transition: 3s;}
.menu_accordion li:first-child,
.menu_accordion .open + dd li{display:inline-block;}
.menu_accordion li::before{position:relative;top:0;left:0;content:"";display:inline-block;width:7px;height:inherit;border:1px solid #999;vertical-align:middle;margin-right:5px;}
.menu_accordion li::before{border-width:1px 0 0 0;top:11px;}
.menu_accordion .open + dd li::before{border-width:0 0 0 1px;}
.menu_accordion .open + dd li:first-child::before{border-width:1px 0 0 1px;top:11px;}
.menu_accordion .open + dd li:last-child::before{border-width:0 0 1px 1px;top:-10px;}
.menu_accordion .open + dd li:only-child::before{border-width:1px 0 0 0;top:10px;}

.menu_wrap{position:relative;flex-grow: 1;height:650px;}
.menu_wrap .menu_canvas{white-space:nowrap;overflow-x:auto;position:absolute;top:0; right:0;bottom:0;left:0;}
.deps1{width:240px;height:inherit;max-height:630px;overflow-y:auto;padding:15px 10px;background-color:#f2f3f6;vertical-align:top;margin-left:10px;border-radius:3px;}
.menu_canvas .deps1:first-of-type{margin-left:0;}

.deps1_wrap{width:auto;}
.deps1 h1{width:200px;font-size:15px;font-weight:600;letter-spacing:-1px;color:#464e66;}
.deps1.editable .btn_edit,
.deps1tit .save{display:none;}
.deps1.editable .save{display:inline-block;}
.deps1.editable h1{width:calc(100% - 50px);}
.deps1 h1::before{content:"\f138";font-family:'axicon';color:#4086c3;margin-right:5px;}

.deps1menu{counter-reset:deps1;min-height:5px;}
.deps1menu li{position:relative;display:block;border:1px solid #bacbd9;border-left-width:4px;background-color:#fff;border-radius:3px;padding:8px 10px;margin-top:15px;cursor:pointer;}
.deps1menu li::before{position:absolute;left:-10px;top:-5px;content:counter(deps1);counter-increment: deps1;background-color:#4086c3;color:#fff;width:16px;height:16px;border-radius:50%;text-align:center;font-size:11px;}
.deps1 .add_sub{width:100%;padding:3px;text-align:center;cursor:pointer;margin-top:10px;}
.deps1 .add_sub:hover{background-color:#d3d9df;}
.deps1 .add_menu::before,
.deps1 .add_sub::before{content:"\e114";font-family:"axicon";margin-right:5px;color:#666;font-weight:600;font-size:12px;}

.deps1 h1{white-space:normal;padding-left:20px;text-indent:-20px;cursor:move;}
.deps1 h1 input{width:100%;height:23px;vertical-align:middle;}
.deps1 li{position:relative;min-height:35px;}
.deps1 li:hover{background-color:#d3d9df;border-color:#d7dfe3;}
.deps1 li:hover::after{position:absolute;right:5px;top:10px;content:"\e854";font-family:"axicon";}
.deps1 li.on{background-color:#fefac1;border-color:#dad55e;}
.deps1 li.on::before{background-color:#aa7d37;}
.deps1 li.active{background-color:#dfe0e3;border-color:#c8ccd7;}

.deps1.editable h1{cursor:initial;}
.deps1.default{background:#fff;border:1px solid #ececec;box-shadow:1px 1px 3px rgba(242,243,246,1);padding:0;}
.deps1 .add_menu{width:100%;padding: 15px 10px;}
.deps1.default:hover{background:#d3d9df;}
.menu_canvas div.active{width:auto;background-color:#d3d9df;margin-left:20px;box-sizing:content-box;padding:15px 10px;border-radius:3px;}
.deps1_btn_wrap{float:right;padding-left:0;text-indent:0;margin-top:1px;}
.deps1_btn_wrap .axi{padding:3px;margin:2px 0 0;vertical-align:top;border-radius:2px;color:#53637d;}
.deps1_btn_wrap .axi:hover{background-color:#dfe0e3;}

/* bbs */
.bbs_box{border:1px solid rgba(0,0,0,.2);padding:20px;letter-spacing:0;margin-top:5px;}
.bbs_tit{border-bottom:1px dashed rgba(0,0,0,.2);padding-bottom:10px;}
.bbs_tit h3{font-size:13px;font-weight:600;}
.bbs_tit .divide,
.apply_date{color:#999;}
.bbs_tit .divide::before{left:-16px;}
.bbs_etc{margin-top:10px;}
.apply_user::before{content:"\f2f9";font-family:"axicon";display:inline-block;width:18px;height:18px;background-color:#87a4bc;color:#fff;border-radius:50%;padding:3px 0 0;overflow:hidden;text-align:center;box-sizing:border-box;vertical-align:middle;margin:-3px 10px 0 0;font-size:15px;}
.bbs_attach{margin-top:10px;}
.drop_zone,
.attach_zone{min-height:60px;background-color:#e6ecee;padding:0 10px 10px;margin-top:5px;}
.attach_zone{padding-top:5px;}
.bbs_attach li{margin-top:10px;}
.drop_zone{border:1px solid transparent;}
.drop_zone:hover{border:1px dashed #999;}
.drop_zone .drop_info{margin-top:22px;text-align:center;}

.file_size{color:#999;margin-left:8px;}
.bbs_body{padding:20px 10px;}
.bbs_btn_wrap{text-align:right;margin-top:10px;}
.btn_before::before,
.btn_after::before,
.btn_bbs::before{font-family:"axicon";margin-right:8px;}
.btn_before::before{content:"\f106";}
.btn_after::before{content:"\f107";}
.btn_bbs{font-size:0;vertical-align:middle;}
.btn_bbs::before{margin-right:0;font-size:12px;}
.btn_del::before{content:"\f056";color:#d34646;}
.btn_cross_del::before{content:"\e117";color:#fff;}
.btn_down::before{content:"\e83e";color:#666;background-color:#fff;border:1px solid #cdcdcd;border-radius:2px;padding:2px;}

.btn_toggle{position:relative;width:40px;height:15px;background-color:#ff6e69;border-radius:10px;vertical-align:middle;padding:0 5px;box-sizing:border-box;font-size:0;border:1px solid;}
.btn_toggle[disabled]{cursor:default;}
.btn_toggle::before{position:absolute;top:1px;display:inline-block;content:"";width:11px;height:11px;background-color:#fff;border-radius:50%;}
.btn_toggle::after{font-size:7px;font-size:9px\0;line-height:12px;color:#fff;}
.btn_toggle[datavalue="on"]{background-color:#ff6e69;border-color:#e15858;}
.btn_toggle[datavalue="on"]::before{left:1px;}
.btn_toggle[datavalue="on"]::after{content:"ON";float:right;}
.btn_toggle[datavalue="off"]{background-color:#7e7e7e;border-color:transparent;}
.btn_toggle[datavalue="off"]::before{left:inherit;right:1px;}
.btn_toggle[datavalue="off"]::after{content:"OFF";float:left;}
.article_tit .btn_toggle{width:50px;height:20px;padding:0 8px;}
.article_tit .btn_toggle::before{width:16px;height:16px;}
.article_tit .btn_toggle::after{line-height:20px;}

.bbs_box{border-top:2px solid #4086c3;}
.bbs_write h3,
.bbs_write h3 input{width:100%;}
.bbs_write .bbs_body{padding:0;border-bottom: 1px dashed #999;}
.bbs_write .bbs_body textarea{width:100%;height:400px;}

.file_attach{overflow:hidden;position:relative;float:left;width:auto;}
.file_attach .btn_file{position:absolute;top:-1px;left:-1px;right:-1px;bottom:-1px;height:28px;border:0 none;opacity:0;filter:alpha(opacity=0);cursor:pointer;outline:0 none;}

/* editer fix */
.htmlarea div{display:block;width:auto;box-sizing:content-box;}
.htmlarea iframe{background-color:#ececec;margin-bottom:5px;}

/* list */
.li_default{display:inline-block;text-align:center;overflow:hidden;}
.li_default li{float:left;margin-right:10px;}
.li_tag{margin-top:5px;background-color:#e1e9ef;padding:3px 4px 5px;}
.li_tag li{display:inline-block;background-color:#47bac1;color:#fff;padding:0 4px 1px;border-radius:3px;font-size:11px;box-shadow:0 1px 1px rgba(0,0,0,.2);}
.li_tag li:hover{background-color:#3e9ba0;}
.li_tag .btn_cross_del{position:relative;margin:0 0 0 5px;top:1px;}
.li_tag .btn_cross_del::after{font-size:12px;}
.tag_blue{display:inline-block;background-color:#4099c3;color:#fff;padding:1px 8px 2px;border-radius:3px;vertical-align:middle;box-shadow:1px 1px 1px rgba(0,0,0,.2);}
.li_competent{position:relative;display:inline-block;border-radius:2px;vertical-align:middle;box-sizing:border-box;height:24px;border:1px solid #ccc;border-left-width:0;border-radius:3px;margin-top:-1px;padding-right:2px;}
.li_competent dt,
.li_competent dd{float:left;display:inline-block;vertical-align:top;}
.li_competent dt{position:relative;top:-1px;left:-1px;font-weight:600;color:#fff;border-radius:3px 0 0 3px;padding:0 10px;line-height:22px;border:1px solid;}
.li_competent dd{padding-left:8px;line-height:18px;box-sizing:border-box;}
.article .li_competent .btn_toggle{height:18px;}
.article .li_competent .btn_toggle::before{width:14px;height:14px;}
.article .li_competent .btn_toggle::after{line-height:15px;}
.li_competent.msit dt{color:#721c24;background-color:#f8d7da;border-color:#f5c6cb;}
.li_competent.kcc dt{color:#0c5460;background-color:#d1ecf1;border-color:#bee5eb;}

.li_area{display:block;width:100%;padding-left:10%;background-color:#f2f3f6;overflow:hidden;}
.li_area li{float:left;width:10%;line-height:28px;color:#616b72;}
.li_area li:first-child{margin-left:-10%;font-weight:600;}
.radio_wrap li{float:left;margin-right:15px;}

/* sendgroup_list */
.sendgroup_list ul{display:inline-block;width:100%;height:120px;height:124px\0;margin-bottom:1px;overflow-y:scroll;border:1px solid #a9a9a9;background-color:#fff;}
.sendgroup_list li{position:relative;padding:0 8px;}
.sendgroup_list li:hover{background-color:#f2f3f6;}
.sendgroup_list li.on{background-color:#fefac1;color:#694312;}
.sendgroup_list li label{display:inline-block;width:100%;}
.sendgroup_list li input[type="checkbox"]{margin-top:-3px;}

/* dl */
.required::after{content:"＊";color:#fc5151;font-weight:600;}
.dl_list{overflow:hidden;}
.dl_list dt,
.dl_list dd{margin-bottom:25px;}
.dl_list dt{float:left;width:33%;font-weight:600;}
.dl_list dt::before{content:"·";font-weight:bold;color:#4086c3;margin-right:5px;}

.edu .bbs_body{padding:10px 0;}
.edu_dl_list{overflow:hidden;background-color:#f0f2f9;padding:10px 20px 10px 0;margin-bottom:10px;}
.edu_dl_list dt,
.edu_dl_list dd{float:left;}
.edu_dl_list dt{font-weight:600;margin:0 10px 0 20px;}
.edu_dl_list dt::before{content:"·";font-weight:bold;color:#4086c3;margin-right:5px;}
.edu_dl_list label{line-height:27px;}

.dl_form_wrap.scroll{border:1px solid #d7dfe3;overflow-y:auto;}
.dl_form{display:inline-block;width:100%;overflow:hidden;padding:15px 15px 5px 15px;box-sizing:border-box;border:1px solid #d7dfe3;}
.dl_form_wrap.scroll .dl_form{border:none;}
.dl_form dt,
.dl_form dd{margin-bottom:10px;overflow:hidden;}
.dl_form dt{float:left;width:20%;}
.dl_form dd{min-height:24px;}
.long_label dt,
.dl_form .long_label{width:35%;}
.dl_form dt .axi{margin:2px 0 0 10px;vertical-align:middle;}
.dl_form dt::before{content:"\f105";margin:0 9px 0 3px;color:#67717a;font-family:'axicon';font-size:11px;vertical-align:middle;font-weight:600}
.dl_form .required::before{content:"\f138";color:#f35857;margin:0 5px 0 0;font-weight:normal;}
.dl_form .full{width:80%;}
.dl_form input[type="text"],
.dl_form input[type="password"],
.dl_form select{height:23px;}
.dl_form .btn_toggle{width:50px;height:20px;padding:0 8px;}
.dl_form .btn_toggle::before{width:16px;height:16px;}
.dl_form .btn_toggle::after{line-height:18px;font-size:11px;}

.dl_form_sub{background-color:#e1e9ef;padding:6px 6px 1px;border-radius:2px;}
.dl_form_sub dt,
.dl_form_sub dd{margin-bottom:5px;color:#67717a;}
.dl_form_sub dt::before{content:"-";margin-right:3px;vertical-align:top;position:relative;left:0;top:3px;color:inherit;}
.dl_form_sub dd input[type="text"]{width:100%;}

.user_dtl dt,
.user_dtl dd{margin-bottom:11px;}
.user_dtl dt{line-height:24px;}
.user_dtl dd{position:relative;line-height:28px;}
.user_dtl dd .btn{position:absolute;right:0;top:3px;line-height:22px;}
.user_dtl input{width:100%;}
.user_dtl .org input{width:calc(100% - 53px);}
.user_dtl .addr input{width:calc(100% - 76px);}

.dl_form_use_grid{display:inline-block;width:calc(100% + 15px);overflow:hidden;margin-left:-15px;}
.dl_form_use_grid dt,
.dl_form_use_grid dd{float:left;margin-bottom:10px;box-sizing:border-box;line-height:25px;}
.dl_form_use_grid dd{min-height:29px;}
.dl_form_use_grid.dd_right dd{text-align:right;}
.dl_form_use_grid dt{padding-left:18px;}
.dl_form_use_grid dt::before{content:"·";font-weight:600;margin:0 8px 0 4px;}
.dl_form_use_grid .required::before{position:relative;top:2px;content:"\f138";color:#f35857;margin:0 3px 0 0;font-weight:normal;font-family:'axicon';}
.dl_form_use_grid select,
.dl_form_use_grid input[type="text"],
.dl_form_use_grid textarea{width:100%;}
.dl_form_use_grid .select_wrap select{width:auto;}
.dl_form_use_grid .ipt_time input{width:40px;margin:0 5px 0 10px;}
.dl_devide_6 dt,
.dl_devide_6 dd{width:calc(100% / 6);}
.dl_devide_6 .mr-25{margin-right:calc(100% / 6 * 0.25);}
.dl_devide_6 .w_2{width:calc(100% / 6 * 2);}
.dl_devide_6 .w_2-37{width:calc(100% / 6 * 2.37);}
.dl_devide_6 .w_3{width:50%;}
.dl_devide_6 .w_4{width:calc(100% / 6 * 4);}
.dl_devide_6 .w_5{width:calc(100% / 6 * 5);}
.dl_devide_6 .w_6{width:100%;}
.dl_devide_8 dt,
.dl_devide_8 dd{width:12.5%;}
.dl_devide_8 .w_-9{width:11.25%;}
.dl_devide_8 .w_1-6{width:20%;}
.dl_devide_8 .w_2{width:25%;}
.dl_devide_8 .w_3{width:37.5%;}
.dl_devide_8 .w_4{width:50%;}
.dl_devide_8 .w_5{width:62.5%;}
.dl_devide_8 .w_7{width:87.5%;}
.dl_devide_9 dt,
.dl_devide_9 dd{width:calc(100% / 9);}
.dl_devide_9 .w_2{width:calc(100% / 9 * 2);}
.dl_devide_9 .w_3{width:calc(100% / 9 * 3);}
.dl_devide_9 .w_3-4{width:calc(100% / 9 * 3.4);}
.dl_devide_9 .mr-2{margin-right:calc(100% / 9 * 0.2)}
.dl_devide_9 .w_4{width:calc(100% / 9 * 4);;}
.dl_devide_9 .w_5{width:calc(100% / 9 * 5);}
.dl_devide_9 .w_6{width:calc(100% / 9 * 6);}
.dl_devide_9 .w_7{width:calc(100% / 9 * 7);}
.dl_devide_9 .w_8{width:calc(100% / 9 * 8);}
.dl_devide_10 dt,
.dl_devide_10 dd{width:10%;}
.dl_devide_10 .w_2{width:20%;}
.dl_devide_10 .w_3{width:30%;}
.dl_devide_10 .w_4{width:40%;}
.dl_devide_10 .w_5{width:50%;}
.dl_devide_10 .w_7{width:70%;}
.dl_devide_10 .w_9{width:90%;}
.dl_devide_12 dt,
.dl_devide_12 dd{width:calc(100% / 12);}
.dl_devide_12 .w_2{width:calc(100% / 12 * 2);}
.dl_devide_12 .w_3{width:25%;}
.dl_devide_12 .w_4{width:calc(100% / 12 * 4);}
.dl_devide_12 .w_5{width:calc(100% / 12 * 5);}
.dl_devide_12 .w_6{width:50%;}
.dl_devide_12 .w_7{width:calc(100% / 12 * 7);}
.dl_devide_12 .w_8{width:calc(100% / 12 * 8);}
.dl_devide_12 .w_9{width:calc(100% / 12 * 9);}
.dl_devide_12 .w_10{width:calc(100% / 12 * 10);}
.dl_devide_12 .w_11{width:calc(100% / 12 * 11);}
