/**
 * 파일명: common.css

**/
@charset "utf-8";

@font-face {
    font-family: 'notokr-r';
    src: url('../font/notoKR_subset/NotoSans-regular.eot');
    src: url('../font/notoKR_subset/NotoSans-regular.eot?#iefix') format('embedded-opentype'),
         url('../font/notoKR_subset/NotoSans-regular.woff2') format('woff2'),
         url('../font/notoKR_subset/NotoSans-regular.woff') format('woff'),
         url('../font/notoKR_subset/NotoSans-regular.woff') format('woff'),
         url('../font/notoKR_subset/NotoSans-regular.ttf') format('truetype'),
         url('../font/notoKR_subset/NotoSans-regular.svg#NotoSans-regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'notokr-l';
    src: url('../font/notoKR_subset/NotoSans-Light.eot');
    src: url('../font/notoKR_subset/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
         url('../font/notoKR_subset/NotoSans-Light.woff2') format('woff2'),
         url('../font/notoKR_subset/NotoSans-Light.woff') format('woff'),
         url('../font/notoKR_subset/NotoSans-Light.woff') format('woff'),
         url('../font/notoKR_subset/NotoSans-Light.ttf') format('truetype'),
         url('../font/notoKR_subset/NotoSans-Light.svg#NotoSans-Light') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'notokr-dm';
    src: url('../font/notoKR_subset/NotoSans-DemiLight.eot');
    src: url('../font/notoKR_subset/NotoSans-DemiLight.eot?#iefix') format('embedded-opentype'),
         url('../font/notoKR_subset/NotoSans-DemiLight.woff2') format('woff2'),
         url('../font/notoKR_subset/NotoSans-DemiLight.woff') format('woff'),
         url('../font/notoKR_subset/NotoSans-DemiLight.woff') format('woff'),
         url('../font/notoKR_subset/NotoSans-DemiLight.ttf') format('truetype'),
         url('../font/notoKR_subset/NotoSans-DemiLight.svg#NotoSans-DemiLight') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'notokr-m';
    src: url('../font/notoKR_subset/NotoSans-medium.eot');
    src: url('../font/notoKR_subset/NotoSans-medium.eot?#iefix') format('embedded-opentype'),
         url('../font/notoKR_subset/NotoSans-medium.woff2') format('woff2'),
         url('../font/notoKR_subset/NotoSans-medium.woff') format('woff'),
         url('../font/notoKR_subset/NotoSans-medium.woff') format('woff'),
         url('../font/notoKR_subset/NotoSans-medium.ttf') format('truetype'),
         url('../font/notoKR_subset/NotoSans-medium.svg#NotoSans-bold') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'notokr-b';
    src: url('../font/notoKR_subset/NotoSans-bold.eot');
    src: url('../font/notoKR_subset/NotoSans-bold.eot?#iefix') format('embedded-opentype'),
         url('../font/notoKR_subset/NotoSans-bold.woff2') format('woff2'),
         url('../font/notoKR_subset/NotoSans-bold.woff') format('woff'),
         url('../font/notoKR_subset/NotoSans-bold.woff') format('woff'),
         url('../font/notoKR_subset/NotoSans-bold.ttf') format('truetype'),
         url('../font/notoKR_subset/NotoSans-bold.svg#NotoSans-bold') format('svg');
    font-weight: normal;
    font-style: normal;
  }
/* Reset */
*{margin:0;padding:0;}
body,h1,h2,h3,h4,h5,h6,th,td,input,select,textarea,ul,li,dl,dt,dd,button,p,a{color:#333;font-family:"Malgun Gothic","맑은고딕","notokr-r","AppleSDGothic","Nanum Barun Gothic","NanumGothic","AppleGothic","Dotum","Arial",sans-serif;font-size:14px;font-weight:normal;word-spacing:.5px;letter-spacing:-.5px;}
/* .axi{font-family:Malgun Gothic\0;} */
.axi::before{font-family:'axicon';}
body,html{width:100%;height:100%;text-align:center;-webkit-text-size-adjust:none;background:#fff;}
div{display:inline-block;box-sizing:border-box;width:100%;}
h1,h2,h3,h4,h5,h6{display:inline-block;box-sizing:border-box;width:auto;}
ul,ol,li{box-sizing:border-box;list-style:none;}
img,fieldset,iframe{border:none;}
img,input,select{vertical-align:middle;}
span,
a{display:inline-block;text-decoration:none;box-sizing:border-box;}
a:hover{text-decoration:none;}
caption,legend{width:0;height:0;overflow:hidden;visibility:hidden;font-size:0;line-height:0;}
ul,ol{list-style:none;}
em,address{font-style:normal;}
table{border:0;border-spacing:0;width:100%;text-align:center;border-collapse:collapse;}

p{text-align:justify;}
button{cursor:pointer;box-sizing:border-box;}
.block,.block div{display:block;}
input, textarea {border:1px solid #a9a9a9;color:#333;vertical-align:middle;background-color:rgba(255,255,255,.9);}

.scroll{overflow-y:scroll;}

.full{display:inline-block;width:100%;min-width:auto;}
.full_btn1{width:calc(100% - 56px);min-width:auto;}

.etc{margin-bottom:5px;}

.noPd{padding: 0 !important;}
.noBg{background-image: none !important;}
.noBd{border: 0 !important}
.noMg{margin: 0 !important;}
.noMgBtm{margin-bottom: 0 !important;}
.noMgRight{margin-right: 0 !important;}
.noIndent{text-indent:0 !important;;}
.noFloat{float: none !important;}

/* 정렬 */
.alignC{text-align: center !important;}
.alignL{text-align: left !important;}
.alignR{text-align: right !important;}
.loading{position: relative; top: 160px;}

.fl{float:left !important;}
.fr{float:right !important;}

/* normal font */
.blind{font-size:0;line-height:0;position:absolute;left:0;top:0; text-indent:-9999px;visibility:hidden;overflow:hidden;}
.t_blind{font-size:0;}
.t_blind.axi{vertical-align:middle;margin:-3px 0 0 5px;}
.t_blind.axi::before{font-size:16px;color:#367fa9;}
.t_blind.axi:hover::before{color:#314793;text-decoration:underline;}

/* top */
.paTop0{padding-top:0px !important;}
.paTop15{padding-top:15px !important;}
.mgTop0{margin-top:0px !important;}
.mgTop06{margin-top:6px !important;}
.mgTop06{margin-top:6px !important;}
.mgTop12{margin-top:12px !important;}
.mgTop13{margin-top:13px !important;}
.mgTop14{margin-top:14px !important;}
.mgTop16{margin-top:16px !important;}
.mgTop25{margin-top:25px !important;}

/* bottom */
.mgBtm-8{margin-bottom:-8px !important;}
.mgBtm0{margin-bottom:0 !important;}
.mgBtm02{margin-bottom:2px !important;}
.mgBtm04{margin-bottom:4px !important;}
.mgBtm06{margin-bottom:6px !important;}
.mgBtm08{margin-bottom:8px !important;}
.mgBtm10{margin-bottom:10px !important;}
.mgBtm12{margin-bottom:12px !important;}
.mgBtm16{margin-bottom:16px !important;}
.mgBtm18{margin-bottom:18px !important;}
.mgBtm20{margin-bottom:20px !important;}

/* left */
.mgLeft06{margin-left:6px !important;}
.mgLeft08{margin-left:8px !important;}
.mgLeft12{margin-left:12px !important;}
.mgLeft18{margin-left:18px !important;}
.mgLeft24{margin-left:24px !important;}
.mgLeft29{margin-left:29px !important;}
.mgLeft30{margin-left:30px !important;}
.mgLeft35{margin-left:35px !important;}
.mgLeft50{margin-left:50px !important;}

/* right */
.mgRight06{margin-right:6px !important;}
.mgRight08{margin-right:8px !important;}
.mgRight12{margin-right:12px !important;}
.mgRight18{margin-right:18px !important;}
.mgRight50{margin-right:50px !important;}
.mgRight58{margin-right:58px !important;}

/* color */
.t_red{color:#c12c2b;}
.t_blue{color:#4f9fcf;}

.overlay,
.item_overlay{position:fixed;left:0;top:0;height:100%;background:rgba(0,0,0,.3);z-index:400;}
.item_overlay{position:absolute;}

/* input [ radio | checkbox ] */
label{vertical-align:middle;}
.required::after{content:" *";color:#f35857;font-size:11px;font-weight:600;}
input,
select{padding:1px 5px;box-sizing:border-box;}
input[type="text"],
input[type="password"]{height:28px;}
input[type="radio"],
input[type="checkbox"]{border:none;margin-right:5px;}
select{vertical-align:bottom\9;padding-right:0;height:28px;}
select::-ms-expand{background:none;border:none;color:#606060;}
option:hover{background:#e3f4fb;}
textarea{resize:none;padding:5px;box-sizing:border-box;}
.radio{margin-right:4px;margin-right: 1px\9; /* ie */}
.checkbox{margin: 0 4px 3px 0;margin:0 1px 0 0\9;}
.to,
.from,
.datepicker,
.date{width:130px;}
.timeform{width:50px;min-width:auto!important;}
.radio_wrap label{margin-right:5px;}
label input{margin-top:-3px;}

.info{float:right;margin-top:5px;color:#999;font-size:11px;}

/*jquery-ui-fix*/
.ui-datepicker{z-index:900!important;}
.ui-datepicker-title{display:block;width:auto;margin: 0 2em;}
.ui-datepicker-title select{min-width:auto;height:auto;}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year{width:40%;margin:0 1px 3px;padding:0;}
.ui-datepicker select.ui-datepicker-month{margin-left:8px;}
.ui-datepicker-trigger{position:relative;right:28px;margin-right:-21px;}

/*jquery-ui-fix*/
.ui-accordion .ui-accordion-header-icon{vertical-align:middle;}
.ui-widget.ui-widget-content{border-color:#c4c4c6;}
.ui-th-column.ui-th-ltr.ui-state-hover{border-color:#bacae3;}
.ui-th-column.ui-state-hover{background:#2c486d;color:#fff;border-top:none;}

.ui-helper-hidden-accessible,
.ui-widget,
.ui-widget div{display:block;width:auto;box-sizing:content-box;}
.ui-datepicker{display:none;}
.ui-widget .ui-icon{width:16px;}
.ui-widget span,
.ui-widget a{vertical-align:top;box-sizing: content-box;}
.ui-jqdialog a{box-sizing:content-box;font-size:11px;}
.ui-jqdialog .fm-button-icon-left .ui-icon{margin-top:-8px;}
.ui-common-table{text-align:left;}

.ui-jqgrid .ui-jqgrid-hdiv{position:relative;padding:0 1px;left:-1px;top:-1px;border:1px solid #33568f;border-radius:2px 2px 0 0;box-sizing:content-box;}
.ui-jqgrid .ui-jqgrid-pager{background-color:#d3d6df;border-color:#bcc1cf;}
.ui-jqgrid-pager .ui-icon{background-image:url(images/ui-icons_003964_256x240.png);}
.ui-jqgrid .ui-pg-button,
.ui-jqgrid .ui-pg-button:hover{padding:0 1px;box-sizing:border-box;border:none;}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon{background-image:url(images/ui-icons_ffffff_256x240.png);}
.ui-jqgrid td input, .ui-jqgrid td select, .ui-jqgrid td textarea{padding:0;height:auto;}
/* .ui-datepicker, */
/* .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{border-color:#d7dfe3;} */
.ui-jqgrid{box-sizing:bor-border-box;}
.ui-jqgrid .ui-pg-button .ui-separator{display:none;width:auto;}

.ui-jqgrid .ui-jqgrid-htable th{height:30px;}
.ui-jqgrid tr.jqgrow td, .ui-jqgrid tr.jqgroup td{height:24px;}
.ui-jqgrid .ui-jqgrid-htable .ui-th-div{height:21px;}
.ui-jqgrid .jqgrid-rownum{background:#fff;color:#333;}
.ui-jqgrid .ui-state-hover .jqgrid-rownum{background-color:#f2f3f6;}
.ui-jqgrid .ui-state-highlight .jqgrid-rownum{background-color:#fefac1;}
.ui-widget input[type="radio"],
.ui-widget input[type="checkbox"]{margin:0;}
.ui-jqgrid .ui-jqgrid-bdiv .ui-inline-edit .ui-icon,
.ui-jqgrid .ui-jqgrid-bdiv .ui-inline-del .ui-icon,
.ui-jqgrid .ui-jqgrid-bdiv .ui-inline-save .ui-icon,
.ui-jqgrid .ui-jqgrid-bdiv .ui-inline-cancel .ui-icon,
.ui-widget .jqResize.ui-icon{background-image:url(images/ui-icons_003964_256x240.png);margin:0;}
.ui-jqgrid .ui-jqgrid-bdiv .ui-inline-edit,
.ui-jqgrid .ui-jqgrid-bdiv .ui-inline-del,
.ui-jqgrid .ui-jqgrid-bdiv .ui-inline-save,
.ui-jqgrid .ui-jqgrid-bdiv .ui-inline-cancel{display:inline-block;float:none!important;border:1px solid transparent;}
.ui-jqgrid .ui-jqgrid-bdiv .ui-inline-edit,
.ui-jqgrid .ui-jqgrid-bdiv .ui-inline-save{margin-left:-8px;}
.ui-jqgrid-bdiv .ui-inline-edit:hover,
.ui-jqgrid .ui-jqgrid-bdiv .ui-inline-del:hover,
.ui-jqgrid .ui-jqgrid-bdiv .ui-inline-save:hover,
.ui-jqgrid .ui-jqgrid-bdiv .ui-inline-cancel:hover{border-color:#d7dfe3;padding-top:1px;cursor:pointer;}
.ui-jqgrid .ui-pg-input,
.ui-jqgrid .ui-jqgrid-toppager .ui-pg-input{height:16px;vertical-align:top;margin-top:2px;line-height:8px\0;}
.jqgroup{background:#fffff2;}
.ui-search-table select{width:100%;}
.ui-selectmenu-menu{width:auto;}
.ui-selectmenu-button.ui-sel-btn{width:17px;height:15px;padding:0;display:inline-block;}

/****** JiSlider css ******/
.jislider{display:block;}
.jislider ul{display:block;height:100%;position:relative;overflow:hidden; }
.jislider ul li{position:relative;height: 100%;float:left;overflow: hidden;}
.jislider__img{position: absolute;top:0;left:0; background-size:cover;width:100%;height: 100%;z-index:-1;background-position:50% 0;}
.bg_fix .jislider__img{background-position:50% 100%;}
.jislider__left-arrow{position:absolute;left:30px;top:0;bottom:0;margin:auto;width:30px;height:60px;cursor:pointer;}
.jislider__left-arrow__top{content:'';position:absolute;top:0;left:0;width:2px;height:30px;background-color: inherit;
	-webkit-transform: rotate(30deg) translateX(10px) translateY(-3px);
	-ms-transform: rotate(30deg) translateX(10px) translateY(-3px);
	transform: rotate(30deg) translateX(10px) translateY(-3px);
}
.jislider__left-arrow__bottom{content:'';position:absolute;bottom:0;left:0;width:2px; height:30px;background-color:inherit;
	-webkit-transform: rotate(-30deg) translateX(10px) translateY(3px);
	-ms-transform: rotate(-30deg) translateX(10px) translateY(3px);
	transform: rotate(-30deg) translateX(10px) translateY(3px);
}
.jislider__right-arrow{position:absolute;right:30px;top:0;bottom:0;margin:auto;width: 30px; height: 60px;cursor:pointer;}
.jislider__right-arrow__top{ content: '';position: absolute;top:0;right:0;width:2px; height: 30px; background-color: inherit;
	-webkit-transform: rotate(-30deg) translateX(-10px) translateY(-3px);
	-ms-transform: rotate(-30deg) translateX(-10px) translateY(-3px);
	transform: rotate(-30deg) translateX(-10px) translateY(-3px);
}
.jislider__right-arrow__bottom { content: ''; position: absolute; bottom: 0; right: 0; width: 2px; height: 30px; background-color: inherit;
	-webkit-transform: rotate(30deg) translateX(-10px) translateY(3px);
	-ms-transform: rotate(30deg) translateX(-10px) translateY(3px);
	transform: rotate(30deg) translateX(-10px) translateY(3px);
}
.jislider__controller{position:absolute;max-width:80%;padding:0 30px;left:0;right:0; bottom:20px;margin:auto;text-align:center;box-sizing:content-box;}
.jislider__button{display:inline-block;width:10px;height:10px;margin:5px;box-sizing:border-box;border-radius:50%;cursor:pointer;}
#JiSlider{width:100%;height:582px;}
.jislider .copy{position:absolute;top:50%;left:0;height:208px;margin-top:-104px;background-color:rgba(23,55,170,.3);text-align:center;padding-top:14px;}