@charset "utf-8";
/* popup */
.pop_wrap{position:absolute;left:50%;top:50%;border:1px solid #042e52;background-color:#fff;z-index:110;text-align:left;}
.pop_wrap .pop_header{height:42px;background-color:#053863;padding-left:10px;cursor:move;border-bottom: 3px solid #d8dfe6;}
.pop_wrap .pop_header h1{width:100%;height:inherit;line-height:37px;font-size:16px;letter-spacing:-.5px;color:#fff;}
.pop_wrap .pop_header span{position:absolute;right:0;top:0;}
.pop_wrap .pop_header .btn_close{width:50px;height:39px;text-align:center;margin:0;}
.pop_wrap .pop_header .btn_close{float:right;color:#fff;font-size:0;line-height:37px;}
.pop_wrap .pop_header .btn_close::before{font-size:22px;vertical-align:middle;}
.pop_wrap >.pop_body{padding:10px;overflow-y:auto;}
.pop_wrap > .pop_footer{padding:0 0 10px;text-align: center;}
.pop_wrap .btn_wrap{margin-top:20px;text-align:center;}
.pop_wrap .tab_btn{top:0;}
.pop_header h1::before{content:"\e850";font-family:'axicon';color:#fee58b;margin-right:8px;}
.pop_wrap .axi_load{padding:0;}
.axi_more::before{content:"\e037";}

.pop_wrap .pop_article{margin-top:15px;padding-top:15px;border-top:1px solid #367fa9;overflow:hidden;}
.pop_wrap .pop_article:first-of-type{margin-top:0;padding-top:0;border-top:none;}
.pop_article > .tit{float:left;width:11%;}
.pop_article > .body{float:right;width:80%;overflow:hidden;}
.pop_wrap .article{border-top:1px solid #f35857;padding-top:20px;margin-top:20px;}
.pop_wrap .article:first-of-type{padding-top:0;margin-top:0;border-top:none;}
.pop_wrap .article h2{font-size:16px;letter-spacing:-1px;color:#f35857;}
.pop_wrap textarea{background-color:#f1f3f4;}
.pop_wrap .pop_article .btn_wrap .btn{min-width:64px;height:23px;line-height:21px;font-size:11px;}

.pop_sri_regist{width:700px;top:80px;margin-left:-450px;}
.pop_sri_regist .w_2{width:calc(100% / 9 * 1.5)}
.pop_sri_regist .w_7{width:calc(100% / 9 * 7.5)}
