@charset "utf-8";

/* layout */
#wrap{display:block;min-width:1280px;height:100%;}
#header{display:block;height:110px;background-color:#fff;letter-spacing:-1px;}
#snb{position:absolute;left:0;top:0;bottom:0;width:234px;}
#cont{display:block;display:inline-block\0;position:relative;min-height:calc(100% - 206px);overflow:hidden;}
.content{float:right;width:calc(100% - 231px);min-height:100%;text-align:left;}
.main.content{display:block;width:100%;padding:0;}

/* accessibility */
#accessibility{position:relative;display:block;z-index:999;}
#accessibility a{display:block;width:1px;height:1px;margin-bottom:-1px;overflow:hidden;text-align:center;color:#fff;}
#accessibility a:focus,#accessibility a:active{width:100%;height:auto;padding:5px 0;background:#09f;}

/* header */
#header h1{position:relative;text-align:left;margin-bottom:10px;}
#header h1 a{width:261px;height:50px;font-size:0;background:url(../img/kcg_syslogo.png) 0 0 no-repeat;}
#header h1 strong{display:block;color:#fefac1;font-size:15px;}
.nav_wrap{background-color:#d3d9df;}
.lnb{display:block;padding:0 36px;}

.btn_userinfo,
.btn_logout{background-color:#33568f;color:#fff;border-radius:5px;line-height:20px;padding:0 9px;font-weight:normal;}
.btn_userinfo::before,
.btn_logout::before{font-family:"axicon";margin-right:3px;}
.btn_userinfo::before{content:"\f1ca";}
.btn_logout::before{content:"\e086";}

.lnb{height:37px;background-color:#2a4878;}
.nav li{position:relative;float:left;width:14.28%;}
.nav li:first-child{width:14.32%;}
.nav a{width:100%;line-height:37px;color:#fff;font-size:14px;}
.nav li:hover > a{background-color:#2c6495;}
.nav li.on > a{background-color:#3f6ab2;}
.nav .sub1{display:none;width:100%;position:relative;left:0;top:0;background-color:#fff;z-index:1000;box-sizing:border-box;border:1px solid #d3d9df;border-width:0 0 1px 1px;min-height:610px;}
.nav .sub1 li{display:inline-block;width:100%;}
.nav li:first-child .sub1{border-left:0;}
.sub1 a{color:#333;line-height:34px;text-align:left;padding:0 10px;}
.sub1 > li:hover > a{background-color:#fefac1;color:#694312;}
.sub1 > li.on > a{color:#33568f;background-color:#cee2f4;}
.sub1 > li.on > a::after{content:"\f105";float:right;font-family:'axicon';}
.nav:hover .sub1{display:inline-block;}
.lnb .lnb_overlay{display: none;content:"";position:fixed;left:0;top:110px;height:100%;z-index:950;}
.lnb_list:hover + .lnb_overlay{display:block;background-color:rgba(0,0,0,.4);}
.lnb .sub2{display:block;width:100%;background-color:#f5f5f5;padding:8px 0;overflow:hidden;}
.lnb .sub2 li{display:inline-block;}
.lnb .sub2 li a{font-size:12px;padding-left:15px;line-height:22px;color:#999;}
.lnb .sub2 a::before{content:"·";margin-right:3px;}
.lnb .sub2 li:hover > a,
.lnb .sub2 li.on > a{background-color:transparent;font-weight:600;color:#000;}

/* snb */
.snb{text-align:left;padding-left:5px;}
.user_info{height:66px;background:#d3d6df;padding:15px 15px;text-align:left;color:#333;margin:5px 0;}
.user_info a{color:#333;text-align:center;line-height:30px;}
.user_info .user{display:inline-block;width:30px;height:30px;font-size:32px;background-color:#6a7889;border-radius:50%;overflow:hidden;padding-top:4px;box-sizing:border-box;vertical-align:middle;margin:0 7px 0 0;}
.user_info .user::before{font-size:25px;color:#fff;font-family:'axicon';vertical-align:middle;}
.user_info ul{float:right;display:inline-block;overflow:hidden;padding-top:3px;margin-top:3px;text-align: center;}
.user_info li{display:inline-block;}
.user_info li a{color:#798699;font-size:12px;background-color:#fff;padding:1px 3px;border-radius:3px;margin:0;line-height:16px;}
.snb_tit{position:relative;width:100%;height:52px;background-color:#3f6ab2;padding-left:23px;}
.snb h1{position:relative;font-size:20px;line-height:52px;color:#fff;text-align:left;font-weight:600;}
.snb_list > li{border-bottom: 1px solid #ddd;}
.snb_list li a{width:100%;padding:0 13px 0 23px;line-height:31px;}
.snb_list > .on > a{background-color:#d1d8f1;}
.snb_list > li > a:hover,
.snb_list > .on > a{color:#3f6ab2;font-weight:600;}
.snb_list > li > a:hover::after,
.snb_list > .on > a::after{float:right;content:"\e850";font-family:"axicon";}
.snb_list > .on > a::after{content:"\e84e";}
.snb_list .snb1{border-top:1px solid #ddd;background-color:#eff0f4;padding:5px 0;}
.snb_list .snb1 a{font-size:12px;line-height:20px;padding:0 0 0 33px;color:#999;}
.snb_list .snb1 li:hover a{color:#333;}
.snb_list .snb1 li.on a{color:#3f6ab2;font-weight:600;}
.snb_list .snb1 li.on a::before{content:"-";}

.user_info ul .axi::before,
.nav .axi::before{margin-right:7px;}

/* quick_menu */
.quick{position:fixed;right:-140px;top:235px;width:140px;background-color:#fff;border:1px solid #4e4e4e;z-index:150;padding-bottom:32px;font-size:11px;}
.zoom_control{padding:5px 0;}
.zoom_control a{background-color:#427eaa;color:#fff;padding:0 5px;vertical-align:middle;border-radius:1px;line-height:18px;}
.zoom_control .zoom_in,
.zoom_control .zoom_out{position:relative;font-size:0;width:18px;height:18px;}
.zoom_in::before,
.zoom_out::before{position:absolute;left:3px;top:0;font-size:12px;font-family:'axicon';}
.zoom_in::before{content:"\e114";}
.zoom_out::before{content:"\e115";}
.quick_tit{background-color:#427eaa;border-bottom:2px solid #84b0cf;}
.quick_tit h1{position:relative;width:100%;color:#fff;line-height:40px;z-index:10;text-align:left;padding-left:15px;font-weight:600;}
.quick_tit h1::after{position:absolute;right:10px;top:14px;display:inline-block;width:14px;height:14px;background-color:#fff;border-radius:50%;content:"\f107";font-family:'axicon';color:#427eaa;line-height:15px;text-align:center;text-indent:-1px;}
.quick_body{display:block;overflow:hidden;text-align:left;}
.btn_set,
.btn_schedule{width:100%;padding:10px;border-bottom: 1px solid #dcd5b2;background-color:#fffdf1;color:#6c5d48;}
.btn_set:hover,
.btn_schedule:hover{color:#3c3327;}
.btn_set::before,
.btn_schedule::before{display:inline-block;width:20px;height:20px;content:"\f1c9";font-family:'axicon';color:#f35857;margin-right:5px;background-color:#e5e8f1;border-radius:50%;line-height:20px;text-align:center;}
.btn_schedule::before{content:"\f073";color:#46506b;}
.q_info{font-size:11px;padding:5px 10px;color:#a1a6b5;letter-spacing:-1px;line-height:14px;background-color:#e5e8f1;}

.quick_list li{line-height:39px;border-bottom:1px solid #ddd;text-align:left;padding-left:10px;}
.quick_list li a{font-size:12px;}
.quick_bot{position:absolute;bottom:0;left:0;background-color:#4e4e4e;padding:3px 0;}
.quick_bot .btn_top{color:#fff;font-size:11px;}
.quick_bot .btn_top::before{content:"▲";display:block;font-size:7px;line-height:5px;margin:3px;}
a[quicktoggle]{position:absolute;left:-21px;top:50%;display:inline-block;width:20px;height:60px;line-height:60px;background-color:#427eaa;color:#fff;margin-top:-30px;border-radius:3px 0 0 3px;font-size:0;}
a[quicktoggle]::before{content:"\f1b1";font-family:'axicon';font-size:12px;}
.quick_open a[quicktoggle]::before{content:"\f1b0";}

/* footer */
.footer{position:relative;background-color:#717073;padding:15px 40px 15px 120px;}
.foot_link{overflow:hidden;}
.foot_link li{float:left;}
.foot_link li a{color:#dfe2e8;border-left:1px solid #dfe2e8;padding:0 10px;line-height:12px;}
.foot_link li:first-child a{border-left:none;padding-left:0;;}
.foot_link li a:hover{color:#fff;}
.f_info{margin-top:5px;}
.f_info h1{position:absolute;left:40px;top:15px;display:inline-block;content:"";width:59px;height:52px;background:url(../img/f_logo.gif) 0 0 no-repeat;font-size:0;}
.f_info p{color:#dfe2e8;line-height:22px;}

/* .main */
.content.main{width:100%;}

.notice_area{height:30px;background-color:#fff;font-size:14px;line-height:30px;padding:0 20px;}
.main_cont .section{background-color:#f2f2f2;overflow:hidden;padding:25px 30px;}
.main_cont .article{position:relative;float:left;width:33%;text-align:left;}
.main_cont .article h1{display:block;font-weight:600;color:#0a154b;font-size:24px;}
.login .btn_log{width:96px;height:75px;background-color:#e9b740;color:#fff;border-radius:3px;line-height:75px;text-align:center;}
.dot_list li::before{content:"";width:2px;height:2px;background-color:#ff4b4b;}
.banner_list{overflow:hidden;}
.banner_list li{float:left;width:calc(100% / 7);}

/* content */
.content{padding:0 24px;}
.content > .cont_tit{margin-bottom:23px;padding:32px 10px 12px;border-bottom:1px solid #999;}
.content .cont_tit h1{display:inline-block;width:auto;font-size:20px;color:#354b85;letter-spacing:-1.5px;font-weight:600;line-height:1.3;}
.content .cont_tit h1 span{font-size:16px;color:#999;border-left:1px solid #999;font-weight:normal;margin-left:15px;padding-left:15px;line-height:1;margin-top:6px;}

.locate{float:right;width:auto;padding:5px 0;overflow:hidden;}
.locate li{float:left;display:inline-block;color:#dd374a;}
.locate li a{color:#666;}
.locate li::after{content:"";position:relative;top:-2px;left:0;display:inline-block;width:4px;height:4px;margin:0 8px;border:solid #999;border-width:1px 1px 0 0;transform:rotate(45deg);}
.locate li:last-child::after{margin-right:0;width:0;height:0;border:0;}

/* section */
.section_linked,
.section_linked_s{position:relative;}
.section_linked::after,
.section_linked_s::after{position:absolute;top:40%;right:-3.5%;display:inline-block;content:"";width:20px;height:20px;margin:-10px 0 0 -10px;transform:rotate(45deg);border:1px solid #a4a3a3;border-width:3px 3px 0 0;}
.section_linked_s::after{right:-7.5%;}

/* article */
.section > .article{margin-top: 20px;}
.article_tit{min-height:23px;min-height:24px\0;margin-bottom:5px;}
.article_tit h2{font-size:15px;font-weight:600;}
.article_tit h2::before{content:"\f0c9";color:#4086c3;margin-right:8px;font-family:"axicon";}

/* search */
.search{background-color:#fff;padding:10px 10px 0;margin-bottom:20px;border:1px solid #adadad;}
.search label,
.search input[type="text"],
.search select,
.search .btn{padding:3px 8px 2px;padding:2px 8px 3px\0;margin-bottom:10px;}
.search .ui-datepicker-trigger{bottom:5px;}
.search label,
.search  .label{display:inline-block;margin-left:10px;font-weight:600;color:#666;}
.search label::before,
.search .label::before{content:"·";color:#d84a38;margin-right:5px;}
.search input[type="text"],
.search select{min-width:80px;}
.search .input_name{width:80px;}
.search_keyword,
.search_period{display:inline-block;}
.search_period span{vertical-align:middle;}
.search_period select{min-width:136px;}
.search_period #p_year{min-width:137px;}
.date{width:125px!important;}
.scail{width:30px;min-width:auto;}
.search .btn_wrap{float:right;margin-top:0!important;}
.search .btn_wrap .btn{font-size:12px!important;}
.li_radio_wrap{display:inline-block;overflow:hidden;vertical-align:middle;}
.li_radio_wrap li{float:left;}
.li_radio_wrap label{margin-left:0;padding-left:0;}
.li_radio_wrap label::before{content:"";margin:0;}
.li_radio_wrap input{margin:0 0 7px 10px;}

/* table */
.ui-jqgrid .tbl_sub{border-color:#d7dfe3;background-color:#98a1bd;}
.ui-jqgrid .tbl_sub th{background-color:#98a1bd;}
.ui-jqgrid .tbl_sub .ui-state-default,
.ui-jqgrid .tbl_sub .ui-widget-content .ui-state-default,
.ui-jqgrid .tbl_sub .ui-widget-header .ui-state-default{border-color:#d7dfe3;}

/* btn */
.btn_wrap{text-align:right;margin-top:20px;}
.divide_r::before,
.divide::before{content:"";width:1px;height:90%;border-left:1px solid #ccc;position:absolute;left:-18px;top:6%;}
.divide_r::before{left:auto;right:-9px;}
.divide{position:relative;margin-left:30px;}
.divide_r{position:relative;margin-right:10px;}

.with_btn input{width:80%!important;}

.ui-widget-content .btn,
.btn,
.btn_axi,
.btn_ico{border-radius:3px;color:#fff;line-height:21px;padding:0 9px;border:1px solid #aeb3b9;font-size:12px;letter-spacing:-.5px;vertical-align:middle;cursor:pointer;}
.btn_gray{border-color:#545454;background-color:#545454;}
.btn_close2{border-color:#545454;background-color:#545454;}
.btn_gray:hover{background-color:#373737;}
.btn_lightgray{border-color:#838383;background-color:#838383;}
.btn_lightgray:hover{background-color:#6a6a6a;}
.btn_axi,
.btn_white{background-color:#fff;color:#666!important;}
.btn_blue_line{background-color:#fff;color:#4086c3;border-color:#4086c3;}
.btn_red_line{background-color:#fff;color:#f35857;border-color:#f35857;}
.btn_red_line:hover,
.btn_blue_line:hover{text-shadow:0 0 1px rgba(0,0,0,.3);}
.btn_axi:hover,
.btn_ico:hover,
.btn_white:hover{border-color:#989ca2;}
.btn_blue{border-color:#33568f;background-color:#33568f;}
.btn_blue:hover{background-color:#294674;}
.btn_red{border-color:#f35857;background-color:#f35857;}
.btn_red:hover{background-color:#dc4f4f;}
.btn_skyblue{border-color:#4086c3;background-color:#4086c3;}
.btn_skyblue:hover{background-color:#3978b0;}
.btn_black{background-color:#414142;border-color:#414142;}
.btn_black:hover{background-color:#333;}
.btn_large{height:28px;line-height: 26px;padding:0 32px 0 32px;font-size:15px;}

.btn_ico{background:url(../img/btn_ico.png) 0 0 no-repeat, #fff;color:#666;border-color:#aeb3b9;padding:3px 13px 3px 30px;}
.ico_only{width:20px;height:20px;background:url(../img/btn_ico.png) 0 0 no-repeat;font-size:0;border:1px solid transparent;border-radius:2px;}
.ico_only:hover{border-color:#ccc;box-shadow:0 0 1px rgba(0,0,0,.4) inset;}
.btn_excel{background-position:8px 4px;}
.ico_only.btn_excel{background-position:1px 1px;}
.ico_only.btn_hwp{background-position:1px -27px;}

.btn_axi{padding:0 9px;padding:0 9px 1px\0;}
.btn_axi::before{margin-right:3px;line-height:21px\0;font-family:"axicon";}
.axi_mint::before{color:#4086c3;}
.axi_red::before{color:#f35857;}
.axi_gray::before{color:#716f6f!important;}

.btn_print::before{content:"\e034";color:#f35857;}
.btn_info::before{content:"\f1d3";}
.btn_save::before{content:"\e122";font-weight:bold;font-size:11px;}
.btn_cancel::before{content:"\f057";}
.btn_clear::before{content:"\e791";}
.btn_add::before{content:"\f055";}
.btn_reject::before{content:"\f10f";}
.btn_edit::before{content:"\f058";}
.btn_help::before{content:"\f1ce";}
.btn_all::before{content:"\f046";position:relative;top:1px;}
.btn_arr_up::before{content:"\e096";}
.btn_arr_down::before{content:"\e097";}

.axi{margin:3px 10px 0 0;font-size:0;}
.axi::before{font-size:12px;}
.axi.btn_dtl::before{content:"\f00e";color:#717e89;}
.axi.btn_edit::before{content:"\e896";}
td .axi{margin-right:0;}

/* tab */
.tab_contents{border-top:2px solid #f35857;background:#fff;padding:23px 0;overflow:hidden;}
.tab_sub .tab_contents{padding:5px 0 0 0;}
.tab li{float:left;display:inline-block;min-width:99px;margin-left:2px;}
.tab li:first-child{margin-left:0;}
.tab li a{width:100%;height:28px;line-height:28px;background:#fff;text-align:center;border:1px solid #adadad;border-bottom-width:0;margin-top:2px;}
.tab .on a,
.tab a:hover{height:30px;line-height:30px;font-weight:600;background-color:#f35857;color:#fff;border:none;margin-top:0;}

/* paginate */
.paginate{padding:15px 0;text-align:center}
.paginate a,.paginate strong{display:inline-block;position:relative;_width /**/:14px;min-width:23px;padding:1px 5px 2px 4px;color:#333;font-size:15px;line-height:normal;box-sizing:border-box;font-weight:normal;margin:0 3px;}
.paginate strong{color:#fff;background-color:#367fa9;}
.paginate .pre,
.paginate .next,
.paginate .first,
.paginate .last{_width /**/:47px;width:23px;height:23px;color:#777;background-color:#fff;border:1px solid #d7d7d7;margin:0 1px;font-size:10px;line-height:19px;font-weight:bold;}
.paginate a:hover{text-decoration:underline}

.ajax_load{display:none;position:absolute;left:50%;top:50%;width:100px;height:100px;margin:-50px 0 0 -50px;background:rgba(255,255,255,.9);z-index:1000;border:1px solid #c9d2dd;box-shadow:0 0 10px rgba(0,0,0,.2);text-align:center;}
.ajax_load img{margin-top:32px;}

/* error */
.error{height:100%;background-color:#f2f3f6;text-align:center;}
.error_wrap{width:944px;background-color:#fff;border:2px solid #414142;border-width:2px 0;margin-top:15%;padding:84px 100px 91px 114px;}
.error_cont{text-align:left;background:url(../img/bg_error.png) 0 10px no-repeat;padding-left:254px;color:#4c4b4b;}
.error_cont h1{font-family:'notokr';font-weight:bold;font-size:30px;margin-bottom:23px;}
.error_cont b{color:#dd374a;}
.error_cont p{font-size:13px;line-height:20px;margin-bottom:21px;}
.error_cont .btn{padding:4px 27px 5px;}

/* main */

/* list */
.list_area{display:inline-block;width:100%;background-color:#f8f9fa;padding:1% 0 1% 1.5%;overflow:hidden;border-radius:.25rem;}
.list_area li{float:left;width:20%;margin:0;padding:0;letter-spacing:-1px;}
/* .list_area li:first-child{margin-left:-20%;} */
.list_area input[type="checkbox"]{width:auto;height:auto;}
.list_area label{display:inline-block;margin-bottom:0;}

/* dl */
.required::after{content:"＊";color:#fc5151;font-weight:600;}

.dl_form_use_grid{display:inline-block;width:calc(100% + 15px);overflow:hidden;margin-left:-15px;}
.dl_form_use_grid dt,
.dl_form_use_grid dd{float:left;margin-bottom:10px;box-sizing:border-box;line-height:25px;}
.dl_form_use_grid dd{min-height:29px;}
.dl_form_use_grid.dd_right dd{text-align:right;}
.dl_form_use_grid dt{padding-left:18px;}
.dl_form_use_grid dt::before{content:"·";font-weight:600;margin:0 8px 0 4px;}
.dl_form_use_grid .required::before{position:relative;top:2px;content:"\f138";color:#f35857;margin:0 3px 0 0;font-weight:normal;font-family:'axicon';}
.dl_form_use_grid select,
.dl_form_use_grid input[type="text"],
.dl_form_use_grid textarea{width:100%;}
.dl_form_use_grid .select_wrap select{width:auto;}
.dl_form_use_grid .ipt_time input{width:40px;margin:0 5px 0 10px;}
.dl_devide_6 dt,
.dl_devide_6 dd{width:calc(100% / 6);}
.dl_devide_6 .mr-25{margin-right:calc(100% / 6 * 0.25);}
.dl_devide_6 .w_2{width:calc(100% / 6 * 2);}
.dl_devide_6 .w_2-37{width:calc(100% / 6 * 2.37);}
.dl_devide_6 .w_3{width:50%;}
.dl_devide_6 .w_4{width:calc(100% / 6 * 4);}
.dl_devide_6 .w_5{width:calc(100% / 6 * 5);}
.dl_devide_6 .w_6{width:100%;}
.dl_devide_8 dt,
.dl_devide_8 dd{width:12.5%;}
.dl_devide_8 .w_-9{width:11.25%;}
.dl_devide_8 .w_1-6{width:20%;}
.dl_devide_8 .w_2{width:25%;}
.dl_devide_8 .w_3{width:37.5%;}
.dl_devide_8 .w_4{width:50%;}
.dl_devide_8 .w_5{width:62.5%;}
.dl_devide_8 .w_7{width:87.5%;}
.dl_devide_9 dt,
.dl_devide_9 dd{width:calc(100% / 9);}
.dl_devide_9 .w_2{width:calc(100% / 9 * 2);}
.dl_devide_9 .w_3{width:calc(100% / 9 * 3);}
.dl_devide_9 .w_3-4{width:calc(100% / 9 * 3.4);}
.dl_devide_9 .mr-2{margin-right:calc(100% / 9 * 0.2)}
.dl_devide_9 .w_4{width:calc(100% / 9 * 4);;}
.dl_devide_9 .w_5{width:calc(100% / 9 * 5);}
.dl_devide_9 .w_6{width:calc(100% / 9 * 6);}
.dl_devide_9 .w_7{width:calc(100% / 9 * 7);}
.dl_devide_9 .w_8{width:calc(100% / 9 * 8);}
.dl_devide_10 dt,
.dl_devide_10 dd{width:10%;}
.dl_devide_10 .w_2{width:20%;}
.dl_devide_10 .w_3{width:30%;}
.dl_devide_10 .w_4{width:40%;}
.dl_devide_10 .w_5{width:50%;}
.dl_devide_10 .w_7{width:70%;}
.dl_devide_10 .w_9{width:90%;}
.dl_devide_12 dt,
.dl_devide_12 dd{width:calc(100% / 12);}
.dl_devide_12 .w_2{width:calc(100% / 12 * 2);}
.dl_devide_12 .w_3{width:25%;}
.dl_devide_12 .w_4{width:calc(100% / 12 * 4);}
.dl_devide_12 .w_5{width:calc(100% / 12 * 5);}
.dl_devide_12 .w_6{width:50%;}
.dl_devide_12 .w_7{width:calc(100% / 12 * 7);}
.dl_devide_12 .w_8{width:calc(100% / 12 * 8);}
.dl_devide_12 .w_9{width:calc(100% / 12 * 9);}
.dl_devide_12 .w_10{width:calc(100% / 12 * 10);}
.dl_devide_12 .w_11{width:calc(100% / 12 * 11);}